
/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

input:not([type="radio"]):not([type="checkbox"]),
button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: initial;
}

html {
  font-size: 62.5%;
}

/*main*/

body {
  background: #EEE;
  color: #313154;
}

section {
  padding: 2.1rem;
  margin: 2rem auto;
  max-width: 90rem;
  min-width: 30rem;
}

h2, h3, h4 {
  color: #888;
  margin-top: 1.5rem;
}

h2 {
  font-size: 2.2rem;
  font-weight: 900;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1.1rem;
  font-weight: 900;
  margin-bottom: 0.5rem;
}

.user .title {
  display: flex;
  margin: 3rem 0 0;
  color: #313154;
  font-size: 1.5rem;
  font-weight: 700;
}

.user .title input {
  margin-left: 0.5rem;
  flex: 1;
  min-width: 0;
}

.add-item input[type="text"] {
  display: block;
  width: 100%;
  padding: 1rem 1.5rem;
  font-size: 1.4rem;
  color: #313154;
  background-color: #FFF;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  margin-bottom: 1.5rem;
}

.add-item .choose {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.9rem;
  margin-bottom: 1.45rem;
}

.add-item .choose label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FFF;
  padding: 1.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  cursor: pointer;
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 999px;
  border: 2px solid #3a69ee;
  box-shadow: 0 0 5px rgba(58, 105, 238, 0.75);
}

.circle.personal {
  border-color: #E75490;
  box-shadow: 0 0 5px rgba(231, 84, 144, 0.75);
}

.circle::after {
	content: '';
	display: block;
	opacity: 0;
	width: 0px;
	height: 0px;
	background-color: #3a69ee;
	box-shadow: 0px 0px 5px rgba(58, 105, 238, 0.75);
	border-radius: 999px;
	transition: 0.2s ease-in-out;
}

.circle.personal::after {
	background-color: #E75490;
	box-shadow: 0px 0px 5px rgba(231, 84, 144, 0.75);
}

input:checked ~ .circle::after {
	width: 10px;
	height: 10px;
	opacity: 0.9;
}

.add-item .choose label div {
	color: #313154;
	font-size: 1.2rem;
	margin-top: 0.5rem;
}

.add-item input[type="submit"] {
	display: block;
	width: 100%;
	font-size: 1.2rem;
	padding: 1rem 1.5rem;
	color: #FFF;
	font-weight: 700;
	text-transform: uppercase;
	background-color: #3a69ee;
	box-shadow: 0px 0px 5px rgba(58, 105, 238, 0.75);
	border-radius: 0.5rem;
	cursor: pointer;
	transition: 0.2s ease-out;
}

.add-item input[type="submit"]:hover {
	opacity: 0.60;
	transform: translateY(1px);
}

.list-item .list {
	margin: 1rem 0;
}

.list-item .item {
	display: flex;
	align-items: center;
	background-color: #FFF;
	padding: 1rem;
	border-radius: 0.5rem;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	margin-bottom: 1rem;
}

.item label {
	display: block;
	margin-right: 1rem;
	cursor: pointer;
}

.item .all-todos {
	flex: 1 1 0%;
}

.item .all-todos input {
	color: #313154;
	font-size: 1.2rem;
}

.item .actions {
	display: flex;
	align-items: center;
}

.item .actions button {
	display: block;
	padding: 0.5rem;
	border-radius: 0.25rem;
	color: #FFF;
	cursor: pointer;
	transition: 0.2s ease-in-out;
}

.item .actions button:hover {
	opacity: 0.60;
	transform: translateY(1px);
}

.item .actions .edit {
	margin-right: 0.5rem;
	background-color: #E75490;
}

.item .actions .delete {
	background-color: #ff2400;
}

.item.done .all-todos input {
	text-decoration: line-through;
	color: #888;
	transform: skewY(5px) scale(0.8);
}